# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
*.egg-info/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs and system files
*.log
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/


dataset/
*.csv
*.zip
test/
